.todo{
    Max-width:100%;
    width:80%;
}
.boton6{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 20px;
}
.icono img {
    width: 430px;
    height: auto;
    margin-left: 460px;
    margin-top: 20px;
}
.Ac{
    margin-left: 555px;
    font-size: 40px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 60px;
}
.Qu{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 40px;
}
.So{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
   
    margin-top: 20px;
}
.Hellen img{
    width: 430x;
    height: 330px;
    margin-left: 460px;
    margin-top: 20px;
}
.Daniela img{
    width: 430x;
    height: 330px;
    margin-left: 460px;
    margin-top: 20px;
}
.Allison img{
    width: 430x;
    height: 330px;
    margin-left: 460px;
    margin-top: 20px;
}
.Alejandro img{
    width: 430x;
    height: 330px;
    margin-left: 460px;
    margin-top: 40px;
}
@media screen and (Max-width:400px){
    .informa{
        flex-direction: column;
        padding: 0px;
    }
}