.Menu-Logo img {
    width: 80;
    height: 80;
    border-radius: 30px;
    float: left;
    margin: auto;
}


ul {
    list-style: none;
}

header nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*nav:hover {
background-color: rgba(16, 34, 74, 0.811);
opacity: 0.8;
}*/

nav ul li {
    font-size: 17px;
    padding: 16px;
    font-family: serif;
    
}

nav ul li a:hover {
    color: #a5a5a5;
}

nav ul {
    display: flex;
    align-items: center;
    
}
a{
    color: #ffff;
    text-decoration: none;
    background-color: transparent;
}


a :hover {
    color: rgb(252, 252, 252);
}

nav img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
/fin barra/

header .Texto-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.Wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 0px -40px 0px;
}



.Texto-header h1 {
    font-size: 60px;
    color: aliceblue;
    font-family: serif;
}

.Texto-header h2 {
    padding: 0px 0px 100px 0px;
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
    font-family: serif;

}
.Wave{
   overflow: hidden;
   stroke: none;
   fill: rgb(255, 255, 255);
   height: 100%;
   width: 100%;
   margin-bottom: -340px;
}
@media screen and (max-width: 480px) {
    header ul {
        display: none;
    }
    .navbar-toggler {
        display: initial;
        color: #fff;
    }
    }