.todo{
    Max-width:100px;
    width:100px;
}
.Pagina21{
    margin-left: 0px;
    font-size: 40px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;  
}
.boton11{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 17px;
}
.boton12{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 582px;
    margin-top: 20px;
}
.boton13{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 582px;
    margin-top: 40px;
}

