.boton60{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 17px;
}
.Pagina61{
    margin-left: 398px;
    font-size: 40px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    text-align: center;
}
.Pagina62{
    margin-left: 398px;
    font-size: 40px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    text-align: center;
}
.Pagina63{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    
}
.Pagina64{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    
}
.Pagina65{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    
}
.Pagina66{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    margin-top: 20px;
    
}
.Pagina67{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 20px;
    
}