.todo{
    Max-width:100px;
    width:100px;
}
.contenedor img{
    width: 640px;
    height: 490px;
    margin-left:  300px;
    margin-top: -30px;
}
.boton{
    background: rgb(33, 245, 234);
    width: 160px;
    height: 50px;
    border-radius: 20px;
    margin-left: 546px;
    margin-top: 12px;

}
.bot{
    font-size: 25px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
}  
