.contenedor{
    padding: 50px;
    
}
.contenedor img{
    width: 700px;
    height: 600px;
    margin-left:  200px;
}
.boton{
    background: rgb(33, 90, 245);
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 900px;
}
.bot{
    font-size: 25px;
    color: #fff;
}