.todo{
    Max-width:100px;
    width:100px;
}
.Mb22{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}
.Mb23{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
}
.Mb24{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
}.Mb25{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
}.Mb26{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
}
.Mb27{
    margin-left: 415px;
    font-size: 25px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
}
.Pagina20{
    margin-left: 0px;
    font-size: 40px;
    color: rgb(0, 12, 65);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;  
}
.boton20{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 17px;
}
.boton28{
    background: rgb(26, 241, 231);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 17px;
}